$color-primario: white;
$color-secundario: red;

@import "animaciones";
@import "mixi";
@import "map";
@import "nav";
@import "index";
@import "productos";
@import "trayectoria";
@import "formulario";
@import "footer";

body {
  font-family: "Roboto Mono", monospace;
  .contenedor-principal {
    background-image: linear-gradient(
      90deg,
      rgba(98, 23, 8, 1) 0%,
      rgba(220, 47, 2, 1) 50%,
      rgba(232, 93, 4, 1) 100%
    );
    color: $color-primario;
  }
}
